.root {
    -fx-background-color: orange;
    -fx-alignment: center;
    -fx-spacing: 16;
}

.root.instance-1 {
  -fx-background-color: lightgreen;
}

.label.overall {
  -fx-background-color: red;
}

.label.overall-1 {
  -fx-background-color: lightgreen;
}

.label {
    -fx-font-size: 40px;
}
